<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>음악</th>
                <th>미술</th>
                <th>체육</th>
                <th>총점</th>
                <th>평균</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.music}"></td>
                <td th:text="${student.art}"></td>
                <td th:text="${student.ath}"></td>
                <td th:text="${student.sum}"></td>
                <td th:text="${student.avg}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>